body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

p {
    font-size: 14px;
    color: #555;
}
label{
    font-size: 16px;
    color: #555;
}
.agenda-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.agenda-table th,
.agenda-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.agenda-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.agenda-table tr:hover {
    background-color: #f9f9f9;
}
