  header {
      display: flex;
      justify-content: space-between;
      /* Separa logo y menú */
      align-items: center;
      /* Centra verticalmente */
      padding: 1rem 2rem;
      background-color: #333;
      color: white;
  }

  .error {
      background: #ffe6e6;
      border: 1px solid #ffb3b3;
      padding: 10px;
      margin: 10px 0;
  }

  .tarjeta {
      border: 1px solid #ddd;
      padding: 12px;
      border-radius: 8px;
      margin-top: 12px;
  }


  /* Menú flexible */
  nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 20px;
      background-color: #555;
      /* Espacio entre elementos */
  }

  nav a {
      text-decoration: none;
      color: white;
      padding: 10px;
  }

  nav a:hover {
      background-color: #8587df;
      border-radius: 5px;
  }


  label {
      display: block;
      margin-top: 10px;
  }

  input {
      width: 100%;
      padding: 8px;
  }

  button {
      padding: 10px 14px;
      margin-top: 12px;
      cursor: pointer;
  }

  .tarjeta {
      border: 1px solid #ddd;
      padding: 12px;
      border-radius: 8px;
      margin-top: 12px;
  }

  .contenedor {
      max-width: 900px;
      margin: 0 auto;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 12px;
  }

  th,
  td {
      border: 1px solid #ccc;
      padding: 8px;
  }

  th {
      background: #f5f5f5;
  }